DependencyInjection/09_xsd/core/core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
    xmlns="http://privatefunction.net/playground/di/xsd/core/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://privatefunction.net/playground/di/xsd/core/">
	
	<xs:element name="context">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="localization" type="localizationType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="factory" type="factoryType" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="factoryType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="object" type="topLevelObjectType"/>
            <xs:any namespace="##other"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="topLevelObjectType">
        <xs:complexContent>
            <xs:extension base="objectType">
                <xs:attributeGroup ref="rootObjectAttributes"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
     
    <xs:complexType name="objectType">
       <xs:sequence>
       		<xs:group ref="objectCreation" minOccurs="0" maxOccurs="1"/>
       		<xs:group ref="objectLoaderGroup" minOccurs="0" maxOccurs="unbounded"/>
       		<xs:group ref="objectMediaTask" minOccurs="0" maxOccurs="unbounded"/>
       		<xs:group ref="objectPropertyV3D" minOccurs="0" maxOccurs="unbounded"/>
       		<xs:group ref="objectProperty" minOccurs="0" maxOccurs="unbounded"/>
       		<xs:group ref="objectMethod" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="objectNamespace" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:attributeGroup name="rootObjectAttributes">
        <xs:attribute name="id" type="xs:token" use="required"/>
        <xs:attribute name="class" type="xs:token" use="optional"/>
        <xs:attribute name="ref" type="xs:token" use="optional"/>  
        <xs:attribute name="initMethod" type="xs:token" use="optional"/> 
        <xs:attribute name="lifetime" type="xs:token" use="optional"/>
        <xs:attribute name="childsInjection" type="xs:token" use="optional"/>
    </xs:attributeGroup>
    
     <xs:group name="objectCreation">
        <xs:choice>
            <xs:element name="constructor-args" type="arrayType"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="objectLoaderGroup">
    	<xs:choice>
    		<xs:element name="loaderGroup" type="loaderGroupType"/>
    	</xs:choice>
    </xs:group>
    
    <xs:group name="objectMediaTask">
        <xs:choice>
            <xs:element name="mediaTask" type="mediaTaskType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="objectProperty">
        <xs:choice>
            <xs:element name="property" type="propertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="objectPropertyV3D">
        <xs:choice>
            <xs:element name="vector3D" type="propertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="objectMethod">
        <xs:choice>
            <xs:element name="method" type="propertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="objectNamespace">
        <xs:sequence>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="loaderGroupType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
        	<xs:element name="loaderTask" type="loaderTaskType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="loaderGroupAttributes"/>	
    </xs:complexType>
    
    <xs:complexType name="loaderTaskType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
        	<xs:element name="array" type="xs:token" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="loaderTaskAttributes"/>	
    </xs:complexType>
    
     <xs:attributeGroup name="loaderGroupAttributes">
        <xs:attribute name="id" type="xs:token" use="required"/>
        <xs:attribute name="groupState" type="xs:token" use="optional"/>
        <xs:attribute name="groupLoad" type="xs:token" use="optional"/>
        <xs:attribute name="groupCache" type="xs:token" use="optional"/>
    </xs:attributeGroup>
	
    <xs:attributeGroup name="loaderTaskAttributes">
        <xs:attribute name="method" type="xs:token" use="optional"/>
    </xs:attributeGroup>
    
    <xs:complexType name="propertyType">
    	<xs:sequence minOccurs="0">
    		<xs:group ref="value" />
    	</xs:sequence>
    	<xs:attribute name="name" type="xs:token" use="required" />
    	<xs:attribute name="value" type="xs:token" use="optional" />
    	<xs:attribute name="boolean" type="xs:boolean" use="optional"/>
    	<xs:attribute name="id-ref" type="xs:token" use="optional" />
    	<xs:attribute name="value-ref" type="xs:token" use="optional" />
    	<xs:attribute name="arguments" type="xs:token" use="optional" />
    </xs:complexType>

    <xs:complexType name="localizationType">
        <xs:sequence>
            <xs:element name="localeManager" type="localeManagerType" minOccurs="0"/>
            <xs:element name="messageSource" type="messageSourceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="localeManagerType">
        <xs:sequence>
            <xs:element name="defaultLocale" type="localeType" minOccurs="0"/>
            <xs:element name="locale" type="localeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence> 
        <xs:attribute name="type" type="xs:token" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="localeType">
        <xs:attribute name="language" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:pattern value="[a-z]{2}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="country" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:pattern value="[a-z].+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>  
        <xs:attribute name="ignoreCountry" type="xs:boolean" use="optional"/>      
    </xs:complexType>
    
    <xs:complexType name="messageSourceType">
        <xs:sequence>
            <xs:element name="default-message-bundle" type="messageBundleType" minOccurs="0"/>
            <xs:element name="messageBundle" type="messageBundleType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
       	<xs:attributeGroup ref="loaderGroupAttributes"/>
        <xs:attribute name="type" type="xs:token" use="optional"/>
        <xs:attribute name="bundle-type" type="xs:token" use="optional"/>
    </xs:complexType>

    <xs:complexType name="messageBundleType">
        <xs:attribute name="id" type="xs:token" use="required"/>
        <xs:attribute name="basename" type="xs:token" use="required"/>
    </xs:complexType>

     <xs:complexType name="mediaTaskType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
        	<xs:element name="array" type="xs:token" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="mediaObjectAttributes"/>	
    </xs:complexType>
    
     <xs:attributeGroup name="mediaObjectAttributes">
        <xs:attribute name="method" type="xs:token" use="required"/>
    </xs:attributeGroup>
    
    <xs:complexType name="arrayType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="value"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:group name="value">
        <xs:choice>
            <xs:element name="boolean" type="booleanOrExpression"/>
            <xs:element name="number" type="numberOrExpression"/>
            <xs:element name="int" type="intOrExpression"/>
            <xs:element name="uint" type="uintOrExpression"/>
            <xs:element name="vector3D" type="expressionVector"/>
            <xs:element name="string" type="xs:string"/>
            <xs:element name="date" type="dateOrExpression"/>
            <xs:element name="id-ref" type="xs:token"/>
            <xs:element name="array" type="arrayType"/>
            <!-- 
            	<xs:element name="null" type="emptyType"/> 	
            	<xs:element name="class" type="xs:token"/> 
           		<xs:element name="static-property" type="staticPropertyType"/>
            	<xs:element name="object" type="objectType"/>
            	<xs:element name="object-ref" type="refType"/>
            	<xs:any namespace="##other"/>
             -->
        </xs:choice>
    </xs:group>
    
    <xs:complexType name="emptyType"/>
    
    <xs:simpleType name="expression">
        <xs:restriction base="xs:token">
            <xs:pattern value="\$\{.+\}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    
     <xs:simpleType name="expressionVector">
        <xs:restriction base="xs:token">
            <xs:pattern value="-?[0-9]{0,4},-?[0-9]{0,4},-?[0-9]{0,4}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="date">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}( [0-9]{1,2}:[0-9]{2}:[0-9]{2})?"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="booleanOrExpression">
        <xs:union memberTypes="xs:boolean expression"/>
    </xs:simpleType>
    
    <xs:simpleType name="numberOrExpression">
        <xs:union memberTypes="xs:double hexValue expression"/>
    </xs:simpleType>
    
    <xs:simpleType name="intOrExpression">
        <xs:union memberTypes="xs:int hexValue expression"/>
    </xs:simpleType>
    
    <xs:simpleType name="uintOrExpression">
        <xs:union memberTypes="xs:nonNegativeInteger nonNegativeHexValue expression"/>
    </xs:simpleType>
    
    <xs:simpleType name="nonNegativeHexValue">
        <xs:restriction base="xs:token">
            <xs:pattern value="0[Xx][0-9a-fA-F]+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="hexValue">
        <xs:restriction base="xs:token">
            <xs:pattern value="-?0[Xx][0-9a-fA-F]+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="dateOrExpression">
        <xs:union memberTypes="date expression"/>
    </xs:simpleType>
    
    <!-- 
    
    <xs:complexType name="staticPropertyType">
        <xs:attribute name="type" type="xs:token" use="required"/>
        <xs:attribute name="property" type="xs:token" use="required"/>
    </xs:complexType>
    <xs:complexType name="refType">
        <xs:attribute name="id-ref" type="xs:token" use="optional"/>
        <xs:attribute name="type-ref" type="xs:token" use="optional"/>
        <xs:attribute name="required" type="xs:token" use="optional"/>
    </xs:complexType>
    
     -->
    
</xs:schema>